
body {
    background-image: url(/1-Log-in/Images/renato-ramos-puma-G-pd6z_ZdSw-unsplash\ \(1\).jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

    
    
}




.con {
    background-color: white;  
 
}
.space {
    height: 90vh;
}




